export TF_VAR_OIDC_PROVIDER_ARN=$(aws iam list-open-id-connect-providers --query 'OpenIDConnectProviderList[0].Arn' --output text)
export AWS_REGION=us-east-1
export AWS_OIDC_PROVIDER_ARN=$TF_VAR_OIDC_PROVIDER_ARN
export TARGET_BUCKET=$(terraform output -raw bronze_bucket_id)
export API_GATEWAY_URL=$(terraform output -raw api_gateway_invoke_url)
export API_GATEWAY_KEY=$(terraform output -raw api_gateway_key_value)
